<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/icones/icones.css">
  <link rel="stylesheet" href="assets/as.css">
  
  <script src ="assets/jq341.js"></script>
  <script src ="assets/vue232.js"></script>
  <script src ="assets/app.js"></script>

  <title>Idioma Explorer</title>
</head>

<body>
  
  <div id="app" class="h100">

    <!-- Identificacao  -->

    <section class="identificacao diag-flex-col flex-jcc pad05">
      
      <div class="txt-center">
        <img src="assets/logo.png" class="logo">
      </div>
      
      <h2>Perfis de estudo disponíveis:</h2>

      <ul class="ul-limpa lista-perfis">
        <li v-for="perfil of perfis" :idperfil="perfil.id">
          <i v-if="!perfil.id" class="fa fa-user-secret fa-2x"></i>
          <i v-if="perfil.id" class="fa fa-user fa-2x"></i>
          <span class="item-perfil">{{ perfil.nome }}</span>
        </li>
      </ul>
      
      <h2 class="mgb10">Ou crie um novo perfil:</h2>
      <input type="text" v-model="novoPerfil" placeholder="Escolha um apelido">
      <button class="mgt10" @click="addPerfil">Iniciar estudos</button>

    </section>

    <!-- / Identificacao  -->

    <section class="prova-mental diag-flex-col hide">
    
      <div class="flex flex-jcsb flex-aic bgc-principal pad10">
        <span class="fc-white">Fulano da Silva</span>
        <i class="fa fa-user fa-2x"></i>
      </div>

      <div class="pad05">
        
        <h2 class="mgb10">Modo prova mental</h2>

        
          <p >
            <input type="radio" name="" id=""> Todos
            <input type="radio" name="" id=""> Somente com erros
          </p>
          
        

        <select class="mgb10" name="" id="">
          <option value="">Todos</option>
        </select>

        <div class="flex flex-jcsb flex-aic w100 mgb10">
          <i class="fa fa-mail-reply fa-2x"></i>
          <div class="center fs15 bold">
            0/34
          </div>
          <i class="fa fa-play fa-2x"></i>
        </div>

        <p class="pad10 fs12 round mgb10 center" style="background-color: antiquewhite;">
          Termo em portugues
        </p>

        <div class="mgb10 fs12 pad10 round center" style="background-color: lightblue">
          <i class="fa fa-eye fa-lg"></i>
          <span class="fs12">?????</span>
        </div>

        <div class="flex flex-jcsb w100 mgb10 round">
          <div class="center col4 round borda">
            <div class="fs15 bold pad05">4</div>
            <button class="bgc-green"><i class="fa fa-check fa-2x"></i></button>
          </div>
          <div class="center col4 round borda">
            <div class="fs15 bold pad05">4</div>
            <button class="bgc-red"><i class="fa fa-close fa-2x"></i></button>
          </div>
        </div>


      </div>

    </section>

    <section class="estudo diag-flex-col hide">
    
      <div class="flex flex-jcsb flex-aic bgc-principal pad10">
        <div class="flex flex-aic fc-white">
          <i class="fa fa-angle-left fa-2x"></i>
          <span class="fc-white padl10">Fulano da Silva</span>
        </div>
        <i class="fa fa-user fa-2x"></i>
      </div>

      <div class="pad05">
        <h2 class="mgb05">Modo estudo</h2>
        <div class="flex">

          <select name="" id="">Selecione o livro
            <option value="">Livro</option>
          </select>

          <select name="" id="">
            <option value="">Capítulo</option>
          </select>

        </div>

      </div>

      <div class="pad05">
        <div class="flex flex-aic w100 pad05 lista-licoes">
          <div style="font-size: 2.5rem; margin: 0 1rem;">88%</div>
          <div style="flex-grow: 1" class="resumo-licao">
            <div class="row"><div class="col5">Verbos</div><div class="col5 txt-right">80%</div></div>
            <div class="row"><div class="col5">Expressoes</div><div class="col5 txt-right">80%</div></div>
            <div class="row"><div class="col5">Substantivos</div><div class="col5 txt-right">80%</div></div>
            <div class="row"><div class="col5">Frases</div><div class="col5 txt-right">80%</div></div>
          </div>
        </div>
      </div>

      <div style="flex-grow: 1; overflow: auto" class="pad05">
        
        <h2>Verbos</h2>
        <div class="flex flex-jcsb termo-dets">
          <div>cantar (de, para) <br>
            sing / sanf/ song (to, for) <br>
            <i>obs da termo</i>
          </div>
          <div class="txt-right">3/2 <br><i class="fa fa-circle"  style="font-size: .7rem; color: green"></i> 
            <i class="fa fa-circle"style="font-size: .7rem; color: red"></i> <i class="fa fa-circle"style="font-size: .7rem; color: green"></i> </div>
        </div>
      
        <div class="flex flex-jcsb termo-dets">
          <div>cantar (de, para) <br>
            sing / sanf/ song (to, for) <br>
            <i>obs da termo</i>
          </div>
          <div>3/2 <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </div>
        </div>

        <div class="flex flex-jcsb termo-dets">
          <div>cantar (de, para) <br>
            sing / sanf/ song (to, for) <br>
            <i>obs da termo</i>
          </div>
          <div>3/2 <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </div>
        </div>

        <h2 class="mgt10">Expressoes</h2>
        <div class="flex flex-jcsb termo-dets">
          <div>cantar (de, para) <br>
            sing / sanf/ song (to, for) <br>
            <i>obs da termo</i>
          </div>
          <div>3/2 <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </div>
        </div>

        <h2 class="mgt10">Substantivos</h2>
        <div class="flex flex-jcsb termo-dets">
          <div>mesa | table <br>
            <i>obs da termo</i>
          </div>
          <div>3/2 <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </div>
        </div>


        <h2 class="mgt10">Frases</h2>
        <div class="flex flex-jcsb termo-dets">
          <div>Eu nao sei o que fazer nesse caso<br>
            I don't know what to do in this case<br>
            <i>obs da termo</i>
          </div>
          <div>3/2 <br> <i class="fa fa-circle" style="font-size: .6rem;"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </div>
        </div>

        <div class="flex flex-jcsb termo-dets">
          <div>Eu nao sei o que fazer nesse caso<br>
            I don't know what to do in this case<br>
            <i>obs da termo</i>
          </div>
          <div>3/2 <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </div>
        </div>


      </div>
    
    </section>

    <section class="navegacao diag-flex-col hide">
    
      <div class="flex flex-jcsb flex-aic bgc-principal pad10">
        <div class="flex flex-aic fc-white">
          <i class="fa fa-angle-left fa-2x"></i>
          <span class="fc-white padl10">Fulano da Silva</span>
        </div>
        <i class="fa fa-user fa-2x"></i>
      </div>

      <div class="pad05">
        <h2 class="mgb10">Progresso por livro</h2>
        <select name="" id="">Selecione o livro
          <option value="">Livro 1</option>
        </select>
      </div>

      <div class="pad05">
        <div class="flex flex-aic w100 pad05 lista-licoes">
          <div style="font-size: 2.5rem; margin: 0 1rem;">88%</div>
          <div style="flex-grow: 1" class="resumo-licao">
            <div class="row"><div class="col5">Verbos</div><div class="col5 txt-right">80%</div></div>
            <div class="row"><div class="col5">Expressoes</div><div class="col5 txt-right">80%</div></div>
            <div class="row"><div class="col5">Substantivos</div><div class="col5 txt-right">80%</div></div>
            <div class="row"><div class="col5">Frases</div><div class="col5 txt-right">80%</div></div>
          </div>
        </div>
      </div>

      <div style="flex-grow: 1; overflow: auto" class="pad05">
        
        <h2 class="mgb10">Aproveitamento por lição</h2>
        
        <div class="flex flex-aic w100 pad05 lista-licoes">
          <div style="font-size: 2rem">1</div>
          <div style="font-size: 2.5rem; margin: 0 1rem;">88%</div>
          <div style="flex-grow: 1" class="resumo-licao">
            <div class="row"><div class="col5">Verbos</div><div class="col5 txt-right">80%</div></div>
            <div class="row"><div class="col5">Expressoes</div><div class="col5 txt-right">80%</div></div>
            <div class="row"><div class="col5">Substantivos</div><div class="col5 txt-right">80%</div></div>
            <div class="row"><div class="col5">Frases</div><div class="col5 txt-right">80%</div></div>
          </div>
        </div>
      
        <div class="flex flex-aic w100 pad05 lista-licoes">
          <div style="font-size: 2rem">2</div>
          <div style="font-size: 2.5rem; margin: 0 1rem;">74%</div>
          <div style="flex-grow: 1">
            <div class="row"><div class="col5">Verbos</div><div class="col5 txt-right">80%</div></div>
            <div class="row"><div class="col5">Expressoes</div><div class="col5 txt-right">80%</div></div>
            <div class="row"><div class="col5">Substantivos</div><div class="col5 txt-right">80%</div></div>
            <div class="row"><div class="col5">Frases</div><div class="col5 txt-right">80%</div></div>
          </div>
        </div>

        <div class="flex flex-aic w100 pad05 lista-licoes">
          <div style="font-size: 2rem">3</div>
          <div style="font-size: 2.5rem; margin: 0 1rem;">95%</div>
          <div style="flex-grow: 1">
            <div class="row"><div class="col5">Verbos</div><div class="col5 txt-right">80%</div></div>
            <div class="row"><div class="col5">Expressoes</div><div class="col5 txt-right">80%</div></div>
            <div class="row"><div class="col5">Substantivos</div><div class="col5 txt-right">80%</div></div>
            <div class="row"><div class="col5">Frases</div><div class="col5 txt-right">80%</div></div>
          </div>
        </div>

        <div class="flex flex-aic w100 pad05 lista-licoes">
          <div style="font-size: 2rem">3</div>
          <div style="font-size: 2.5rem; margin: 0 1rem;">95%</div>
          <div style="flex-grow: 1">
            <div class="row"><div class="col5">Verbos</div><div class="col5 txt-right">80%</div></div>
            <div class="row"><div class="col5">Expressoes</div><div class="col5 txt-right">80%</div></div>
            <div class="row"><div class="col5">Substantivos</div><div class="col5 txt-right">80%</div></div>
            <div class="row"><div class="col5">Frases</div><div class="col5 txt-right">80%</div></div>
          </div>
        </div>

        <div class="flex flex-aic w100 pad05 lista-licoes">
          <div style="font-size: 2rem">3</div>
          <div style="font-size: 2.5rem; margin: 0 1rem;">95%</div>
          <div style="flex-grow: 1">
            <div class="row"><div class="col5">Verbos</div><div class="col5 txt-right">80%</div></div>
            <div class="row"><div class="col5">Expressoes</div><div class="col5 txt-right">80%</div></div>
            <div class="row"><div class="col5">Substantivos</div><div class="col5 txt-right">80%</div></div>
            <div class="row"><div class="col5">Frases</div><div class="col5 txt-right">80%</div></div>
          </div>
        </div>

      </div>
      <div class="flex pad05">
        <button>Estudar</button>
        <button>Teste mental</button>
      </div>
    
    </section>

  </div>

</body>
</html>